body {
  font-family: "Futura", sans-serif;
  font-size: 16px;
  color: #333333;
}
ul {
  display: block;
  list-style-type: disc;
  padding-inline-start: 40px;
}
.header-nav #nav {
  border-bottom: 1px #ececec solid;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 0;
  position: relative;
  /* background-color: rgb(219, 225, 212); */
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header-nav .menu-slider > ul > li {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  text-decoration: none;
}
.header-nav .menu-slider li {
  position: relative;
}

.nav-link {
  color: #000;
}
.header-nav #nav > li {
  display: flex;
  height: 77px;
  align-items: center;
}

.header-nav #nav > li > a {
  text-transform: uppercase;
}

.header-nav .menu-slider {
  margin-bottom: 0px;
  text-align: center;
}

.header-nav .menu-slider ul {
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.header-nav .menu-slider > ul > li > a {
  padding: 20px 15px 7px;
}
