* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

#content {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

/* Slogan */

.slogan {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}

.slogan h2 {
    font-size: xxx-large;
    margin-top: revert;
}

.slogan p {
    font-size: 20px;
    margin-top: 20px;
    font-weight: 100;
    text-align: center;
    line-height: 1.6;
}

/* products */

.products_content {

}

.title_products_content {

}

.products_content_chil {
    display: flex;
    align-items: center;
    justify-content: space-around; 
}

.product_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
}

.product_content img {
    width: 100%;
}

.product_content button {
    width: 20%;
    border-radius: 50%;
}

.product_content button img {
    border-radius: 50%;
    border: 1px solid #000;
}

.info_product {

}

.price_product {
    display: flex;
    justify-content: space-between;
}

.sale_product {

}

.root_product {

}